# Start by excluding everything
*

# Include project code and build files
!PluralKit.*/
!Myriad/
!.git
!dashboard
!crates/

!Cargo.toml
!Cargo.lock
!PluralKit.sln
!nuget.config
!ci/dotnet-version.sh

# used for target binary builds
!.docker-bin/

# Re-exclude host build artifact directories
**/bin
**/obj
**/target
**/node_modules

# don't clear docker cache when updating dockerfiles
Dockerfile
