# .NET build files
bin/
obj/

# rust build files
target/

# IDE files
.idea/
.run/
.vscode/
.mono/
tags/
.DS_Store
mono_crash*
.DotSettings

# Dependencies
node_modules/

# User configuration
.env
.envrc
pluralkit.conf
pluralkit.*.conf
*.DotSettings.user

# Generated
.direnv
logs/
.version
recipe.json
.docker-bin/

# nix
.nix-process-compose
result
