// THEME
$accentColor = #e8a024;

// CUSTOM
$exampleBgColor = $codeBgColor;
$exampleTextColor = #ffffff;
$examplePrefixColor = #b3b6b9;
$exampleCommentColor = darken($accentColor, 10%);
$exampleFontSize = 0.9rem;
$exampleFontFamily = source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;