<!DOCTYPE html>
<head>
    <title>Billing information - PluralKit Premium</title>
    <link rel="stylesheet" href="/static/stylesheet.css" />
</head>
<body>
<h2>PluralKit Premium</h2>

<p>
    PluralKit Premium is a paid subscription for the <a href="https://pluralkit.me">PluralKit Discord bot</a> that offers cosmetic perks as well as power user features.
    <br/>Currently offered is
    <ul>
        <li>the ability to set custom system/member/group IDs,</li>
        <li>lossless, higher resolution image hosting on PluralKit's CDN,</li>
        <li>the ability to upload avatars/banners directly from the PluralKit Dashboard,</li>
        <li>and a badge on your PluralKit system card to show off your support.</li>
    </ul>
    More features will be added in the future!
</p>

<strong>Premium is not yet released, please check back soon!</strong>

<h3>Pricing</h3>
<p>PluralKit Premium costs $5/mo plus tax applied as per your region.<br/>For any plans longer than 1 month, the equivalent price is applied - for instance, a 3-month plan is $15/3mo plus tax, or a yearly plan is $60/year plus tax.<br/>There is no discount for pre-paying multiple months.</p>

<h3>Refund policy</h3>
<p>We will process any refund requests at our discretion, or where required by law.</p>

<br/><br/>
<span>for assistance please email us at <a href="mailto:billing@pluralkit.me">billing@pluralkit.me</a></span>
<br/>
<br/>PluralKit Premium is offered by PluralKit, LLC. | <a href="/info/">info/pricing/refund policy</a> | <a href="https://pluralkit.me/terms-of-service/">terms of service</a> | <a href="https://pluralkit.me/privacy/">privacy policy</a>
<br/><a href="/">home</a>
</body>
