.dark {
    .navbar.bg-light {
        background-color: var(--bs-body-bg) !important;
    }
    
    .footer.bg-light {
        background-color: var(--bs-dark) !important;
    }
    
    > * {
        .description a {
            color: #159bd4 !important;
        }
    }
}