name: Build and deploy site to GitHub Pages
on:
  push:
    branches:
      - main
jobs:
  github-pages:
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
      - uses: limjh16/jekyll-action-ts@v2
        with:
          enable_cache: true
          format_output: true
          jekyll_src: docs
          gem_src: docs
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.JEKYLL_PAT }}
          publish_dir: ./_site